<style>

.jp-footer{
  border-top: 1px solid rgba(0,0,0,0.05);
}

</style>


<div class="jp-footer">

  <nav id="mainnav" class="uk-navbar-container" uk-navbar>

      <div class="uk-navbar-left">


      </div>

      <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="{{ path('home') }}">
             <img id="nav-logo" src="{{ asset('images/logo-web.svg') }}" alt="">
          </a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">

          <ul class="uk-navbar-nav">
              <div class="uk-navbar-item">
                <li class="payment-check jp-collapse-mobile"><a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: clock"></span> {{ times.value }}</a></li>
              </div>

          </ul>

      </div>

  </nav>

  <div style="height: 50px;" class="uk-background-default"></div>

</div>
