<nav id="navheader" class="uk-navbar-container" uk-navbar>

    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="header-system-title"><a href="#">Sayrin Panel</a></li>
        </ul>

    </div>

    <div class="uk-navbar-right">

        <ul class="uk-navbar-nav">


            <li>
                <a href="#"><span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span> Hola Mauricio</a>
            </li>

        </ul>

    </div>

</nav>
