{% extends 'dashboard/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="background-accent">

  <div class="uk-container">

    <div class="uk-margin-medium-top">
{{ include('dashboard/productslayout.html.twig', {'maintag': "Encontrado", 'products': products }) }}
    </div>

  </div>

</div>

{% endblock %}
